<?xml version="1.0"?>
<!--
/**
 * This file is part of the Orangecat Company package.
 *
 * (c) Oliverio Gombert <olivertar@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Orangecat_Company::company_manage" title="Company Management" sortOrder="10">
                    <resource id="Orangecat_Company::company" title="Companies" sortOrder="10"/>
                    <resource id="Orangecat_Company::company_save" title="Save Company" sortOrder="20"/>
                    <resource id="Orangecat_Company::company_delete" title="Delete Company" sortOrder="30"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Orangecat_Company::config" title="Company Settings" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
