<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="mycompany_company_customer_login_post" type="Orangecat\Company\Plugin\Customer\Controller\Account\LoginPost" sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Block\Account\RegisterLink">
        <plugin name="mycompany_company_customer_register_link" type="Orangecat\Company\Plugin\Customer\Block\Account\RegisterLink" sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Controller\Account\Create">
        <plugin name="mycompany_company_registration_restriction_create" type="Orangecat\Company\Plugin\Customer\Controller\Account\RegistrationRestriction" sortOrder="10"/>
    </type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="mycompany_company_registration_restriction_create_post" type="Orangecat\Company\Plugin\Customer\Controller\Account\RegistrationRestriction" sortOrder="10"/>
    </type>
</config>

