<?xml version="1.0"?>
<!--
/**
 * This file is part of the Orangecat Company package.
 *
 * (c) Oliverio Gombert <olivertar@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/menu.xsd">
    <menu>
        <!-- A subsection inside the main Orangecat Menu -->
        <add id="Orangecat_Company::companies_section" 
             title="Companies" 
             module="Orangecat_Company" 
             sortOrder="10" parent="Orangecat_Core::menu" 
             resource="Orangecat_Company::company_manage"
        />
        <!-- The actual link to the grid -->
        <add id="Orangecat_Company::company" 
             title="Manage Companies" 
             module="Orangecat_Company" 
             sortOrder="10" 
             parent="Orangecat_Company::companies_section" 
             action="mycompany/company/" 
             resource="Orangecat_Company::company"
        />
        <!-- The configuration link -->
        <add id="Orangecat_Company::config" 
             title="Settings" 
             module="Orangecat_Company" 
             sortOrder="99999" 
             parent="Orangecat_Company::companies_section" 
             action="adminhtml/system_config/edit/section/mycompany/" 
             resource="Orangecat_Company::config"
        />
    </menu>
</config>
